<div class="container" style="width: fit-content;">
<h2>Student Details</h2>

<hr/>
<div *ngIf="student">
    <div>
        <label><b>Name: </b></label> {{student.name}}
    </div>
    <div>
        <label><b>Email Id: </b></label> {{student.id}}
    </div>
    <div>
        <label><b>Phone: </b></label> {{student.phone}}
    </div>
    <div>
      <label><b>Address: </b></label> {{student.address}}
  </div>
</div>

<br>
<br>
<button (click)="updateStudent(student.id)" class="btn btn-warning" style="width: 150px;">
Edit this student
  </button>
  <div>
<button (click)="list()" class="btn btn-primary" style="width: 150px;">Back to Student List</button>
</div>
